

#tsparticles canvas{
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.842),rgba(0, 0, 0, 0.856)),url("https://images.pexels.com/photos/2528118/pexels-photo-2528118.jpeg?auto=compress&cs=tinysrgb&w=5260&h=2750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  /* position: fixed; */
  /* opacity: 0.6; */
}
/* .image-link{
  transition: .9s;
} */
/* .image-link{
  background-color: rgba(0, 0, 0, 0.5);
}
.image-link img:hover{
  background: linear-gradient(rgba(0,0,0,00.5),rgba(0,0,0,0.6));
  transition: .9s;
  
}
.image-link:hover .ancho{
  opacity: 1;
  transform: translateY(-30px);
  transition: .9s;
} */

.image-container {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black overlay */
  color: white;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
  
}
.image-container:hover .overlay button {
  
  transform: translateY(-30px);
  transition: .9s;
}
.project3{
  height: 410px;
  object-fit: contain;
}
